.cryptImage {
  width: 100%;
  height: 100%;
}
.cryptImage_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: fadeIn 0.4s ease 0s 1 normal;
}
.cryptImage_loading {
  position: absolute;
  background: #ffffff;
  top: 0;
  left: 0;
}
.cryptImage_loading_icon {
  $size: 1.2rem;
  color: $color1;
  height: $size;
  width: $size;
  font-size: $size;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  animation: loading-indicator $loading-sec infinite linear;
}
