// variables
.indicator{
  @include indicatorColor();
  @include indicatorSize();
  position: absolute;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  // states
  &.isLoading{
    border-radius: 50%;
    animation: loading-indicator $loading-sec infinite linear;
    opacity: 1.0;
    transition:
      height $loadendscale-sec linear,
      width $loadendscale-sec linear,
      opacity $loadendscale-sec linear;
    // pseudo
    &:before{
      content: "";
      display: block;
      border-radius: 100% 0 0 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 50%;
    }
    &:after{
      position: absolute;
      content: "";
      display: block;
      border-radius: 100%;
      width: 80%;
      height: 80%;
    }
    // with state
    &.isEnd{
      width: 0px;
      height: 0px;
      opacity: 0.0;
    }
  }
  &.isLoaded, &.isFinish {
    display: none;
  }
}
