html {
  font-family: $default-font;
  font-size: 15px;
  overflow-x: hidden;
  overflow-y: scroll;
  word-spacing: 1px;
  line-height: 1.5;
  // scss-lint:disable VendorPrefix
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  box-sizing: border-box;
  background-color: $background-color;
  @include smartphones() {
    font-size: calc(10px + 0.75vw);
    // font-size: 14px;
  }
}
a {
  transition: opacity 0.15s linear;
  text-decoration-style: dotted;
  margin-left: 0.2em;
  margin-right: 0.2em;
  color: inherit;
  &:visited {
    color: inherit;
  }
  &:hover,
  &:active {
    opacity: 0.5;
  }
}
b {
  position: relative;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
