.l-imagelist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: start;
  position: relative;
}
.l-imagelist_item {
  cursor: pointer;
  margin-bottom: 5px;
  position: relative;

  &-3separate {
    $separate: 3;
    flex: 0 0 calc(100% / #{$separate} - 2.5px);
    &:nth-child(#{$separate}n + #{$separate - 1}):last-child {
      margin-left: 0;
      margin-right: calc((100% / #{$separate} - 2.5px) * 1 + 2.5px * 1.5);
    }
  }
  &-2separate {
    $separate: 2;
    cursor: pointer;
    margin-bottom: 5px;
    position: relative;
    flex: 0 0 calc(100% / #{$separate} - 2.5px);
    &:nth-child(#{$separate}n + #{$separate - 1}):last-child {
      margin-left: auto;
      margin-right: calc((100% / #{$separate} - 2.5px) * 1 + 2.5px * 2);
    }
  }
}
