@mixin h2 {
  font-size: 2rem;
  font-weight: bold;
  font-family: Raleway;
  margin-bottom: $sz-group-section;
}
@mixin h3 {
  font-size: 1.4em;
  font-weight: bold;
  padding: 0.2rem;
}
@mixin h4 {
  font-size: 1em;
  font-weight: bold;
}
